.blogHero{
    background: url(../styles/assets/blog-image-1.jpg);
    width: 100%;
    height: 43vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    h1 {
        font-family: 'Lora', serif;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: -15px;
        z-index: 10;
    }
}
.bloggingSect{
    background-color: $whiteBackgroundColor;
    padding: 100px 0;
}
.blogContent{
    display: flex;
    justify-content: space-between;
    .brdrBttm{
        border-bottom: 3px solid $orangeYellowColor;
    }
    aside {
        flex-basis: 35%;
        div {
            position: sticky;
            top: 0;
            // bottom: 0;
            overflow-y: auto;
        }
        .sophiesProfCard{
            background-color: white;
            padding: 20px;
            margin-bottom: 25px;
            img {
                width: 100%;
                height: 45vh;
                object-fit: cover;
            }
            h4 {
                margin: 5px 0;
            }
            ul {
                padding-left: 20px;
                li::before {
                    content: "\2022";
                    color: $orangeYellowColor;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1em;
                    margin-left: -1em;
                }
            }

        }
    }
    article {
        flex-basis: 63%;
        .articleItemsCard{
            background-color: white;
            padding: 30px;
            margin-bottom: 20px;
            img {
                object-fit: contain;
                margin-right: 20px;
            }
            .cardPostedDate{
                margin: 10px 0;
                color: #285e64;
                font-style: italic;
            }
        }
        .flexCard{
            display: flex;
            align-items: flex-start;
        }
        .articleItemsCard:nth-child(2n) {
            border-bottom: 3px solid $orangeYellowColor;

        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-row: 1fr 1fr;
            grid-auto-flow: row;
            gap: 20px;
            

        }
        input[type=text], input[type=email], textarea{
            width: 100%;
            border: none;
            background: white;
            padding: 25px;
            
        }
        textarea::placeholder, input[type=text]::placeholder,input[type=email]::placeholder{
            font-style: italic;
        }
        // .gridItm1 {
        //     grid-row-start: 1;
        //     grid-row-end: 2;
        //   }
        .gridItm3 {
            grid-column-start: 1;
        grid-column-end: 3;
          }
        .gridItm4 {
            grid-column-start: 1;
        grid-column-end: 3;
          }
    }
}