@mixin fontSetting($fontSize: 40px){
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: $fontSize;
    text-transform: uppercase;
}

header {
    background: $orangeYellowColor;
    nav {
        background: $orangeYellowColor;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .hidden{
        display: none;
    }
    .navLink{
            // background: $orangeYellowColor;
            @include basicLink($blackColor);
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 1px;
        }
        .active {
            color: #f0efed;
        }
        .navLogo{
            @include fontSetting(40px);
        }
        ul {
            align-items: center;
        }
        .hero {
            margin: 50px auto 0;
            height: 55vh;
            h1 {
                @include fontSetting(8rem);
            }
            .heroText {
                // width: 65%;
                height: 100%;
                position: relative;
                display: flex;
                flex-basis: 65%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            .heroTextParnt {
                position: relative;
            }
            .heroImg{
                position: relative;
                width: 430px;
            }
            .heroImg img {
                height: 600px;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: -15px;
                z-index: 20;
                
            }
            .heroImg div {
                width: 100%;
                height: 600px;
                background: rgb(255, 255, 255);
                position: absolute;
                top: 15px;
                right: 0px;
                z-index: 10;
            }
            .heroText img {
                width: 28%;
                // flex-shrink: 3;
                position: absolute;
                top: 0;
                left: -44px;
            }
        }
}
@media (max-width: 1080px) {
    header {
        .hero {
            h1 {
                @include fontSetting(7.5rem);
            }
            .heroText img {
                width: 24%;
                top: 0;
                left: -44px;
            }
        }
    }
}

@media (max-width: 850px) {
    .wrapper {
        width: 90%;
    }
    header {
        .hero {
            height: 49vh;
            .heroText{
                z-index: 30;
                top: 123px;
                left: -61px;
                img {
                    width: 24%;
                    top: 51px;
                    left: -10px;
                }
            }
            h1 {
                background: #f6a823;
                padding: 46px 20px;
            }
            .heroImg {
                position: absolute;
                right: 0;
                width: 350px;
                img {
                    height: 500px;
                    left: -33px;
                    }
                div {
                    height: 500px;
                    top: 40px;
                    right: 0;
                }
            }
        }
    }
}
@media (max-width: 850px) {
    header{
        nav {
            padding: 0px;
        }
    }
}
@media (max-width: 650px) {
    nav {
        .linkContainer {
            margin-right: 15px;
        }
    }
    header {
        .hero {
            .heroImg {
                top: 49px;
                }
            .heroText {
                left: -35px;
                top: 138px;
                img {
                    left: 6px;
                    top: 59px;
                    }
                }
            h1 {
                @include fontSetting(5rem);
                background: #f6a823;
                padding: 46px 20px;
            }
        }
    }
}
@media (max-width: 420px){
    header {
        .hero {
            .heroText{
                left: 0px;
            }
        }
    }
}
@media (max-width: 320px){
    header {
        .hero {
            h1{
                font-size: 4rem;
            }
            .heroImg{
                right: 0;
                img {
                    left: 0px;
                }
            }
        }
    }

}