.journey{
    background-color: $whiteBackgroundColor;
    padding: 70px 0;
    // min-height: 60vh;
    .wrapper {
        display: flex;
        justify-content: space-between;
        .journImg{
            width: 300px;
            height: 300px;
            position: relative;
            .shadowYellow{
                background-color: $orangeYellowColor;
                width: 300px;
                height: 300px;
                position: absolute;
                bottom: -30px;
                right: -30px;
            }
            img {
                position: relative;
            }
        }
        .journTxt{
            width: 60%;
            align-items: self-start;
            display: flex;
            flex-direction: column;

            justify-content: space-between;
        }
    }
}
@media (max-width: 1080px){
    .journey{
        .wrapper{
            .journTxt {
                width: 55%;
                }
        }
    }
}
@media (max-width: 950px){
    .journey{
        .wrapper{
            .journTxt {
                width: 50%;
                }
        }
    }
}
@media (max-width: 850px){
    .journey{
        .wrapper{
            .journImg{
                width: 270px;
                .shadowYellow {
                    width: 270px;
                    height: 270px;
                    bottom: -7px;
                }
            }
            .journTxt {
                width: 50%;
                }
        }
    }
}
@media (max-width: 750px){
    .journey{
        .wrapper{
            .journImg{
                width: 240px;
                .shadowYellow {
                    width: 240px;
                    height: 240px;
                    bottom: 20px;
                }
            }
            .journTxt {
                width: 50%;
                }
        }
    }
}
@media (max-width: 650px){
    .journey{
        .wrapper{
            flex-direction: column;
            .journImg{
                width: 100%;
                img {
                    width: 100%;
                    height: 34vh;
                    object-fit: contain;
                }
                .shadowYellow {
                    width: 108%;
                    right: -22px;
                }
            }
            .journTxt {
                width: 100%;
                margin-top: 35px;
                align-items: center;
                h2 {
                    font-size: 39px;
                }
                p {
                    text-align: center;
                }    
            }

        }
    }
}
@media (max-width: 460px){
    .journey{
        .wrapper {
            .journImg{
                .shadowYellow {
                    width: 106%;
                    right: -10px;
                    }
            }
            .journTxt {
                h2 {
                    font-size: 37px;
                    text-align: center;
                    line-height: 41px;
                    margin-bottom: 12px;
                    }
            }
        }
    }
}