// main yellowBackground  #f6a823  
// redBackground #a82706
// text color #2c2c2c
// button color #1fccdf
// whiteBackground #f0efed

// font-family: 'Lora', serif;
// font-family: 'Roboto', sans-serif;
$blackColor: #2c2c2c;
$orangeYellowColor: #f6a823;
$whiteBackgroundColor: #f0efed;
$rustRedColor: #a82706;
$blueAccentColor: #1fccdf;

@mixin basicLink($customColor){
    text-decoration: none;
    color: $customColor;
    padding: 10px 20px;
}
@mixin basicHFonts($customFontSize){
    font-family: 'Roboto', sans-serif;
    font-size: $customFontSize;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@import 'normalize';
@import 'header';
@import 'about';
@import 'favourites';
@import 'iconGrids';
@import 'journey';
@import 'blogPost';
@import 'contactPage';



body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2c2c2c;
    line-height: 32px;
    letter-spacing: 1px;
}
.wrapper {
    max-width: 1080px;
    width: 85%;
    margin: 0 auto;
    // border: 1px solid red;
}
img {
    max-width: 100%;
}
ul {
    padding: 0;
    margin: 0 auto;
    li {
        list-style: none;
    }
}
.flexRow{
    display: flex;
    justify-content: center;
}
button {
    color: $blackColor;
    background-color: $blueAccentColor;
    border: none;
    padding: 12px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover, button:focus {
    background-color: $orangeYellowColor;

}
h2 {
    @include basicHFonts(42px);
}
h3 {
    @include basicHFonts(32px);
}
.chairs{
    background-image: url(../styles/assets/home-image-4.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
}
.gallery{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    img {
        width: calc(100% / 3 - 18px);
    }
}
footer {
    background-color: $blackColor;
    text-align: center;
    padding: 15px;
    color: white;
    p{
        margin: 0;
    }
}
.myCard{
    background-color: white;
    padding: 20px;
    // margin-bottom: 25px;
}